:root {
    --bg-color: #fff;
    --navbar-bg: #21263c;
    --shadow-sm: #181c2e;
    --search-bg: #333850;
    --search-border: #6c7184;
    --topband-font-color: #f0f0f0;
    --sidebar-bg: #f7f7fe;
    --sidebar-border: #e4e4e4;
    --card-bg: #fff;
    --card-head-bg: #f9f9fb;
    --card-border: #ebeaf2;
    --sidebar-select-color: #9bd1ff;
}

.container {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.search-bar .awesomplete ul {
    margin-top: 13px;
}

.dropdown-notifications .dropdown-menu {
    top: 38px !important;
}

.dropdown-help .dropdown-menu {
    top: 36px !important;
}

.dropdown-user .dropdown-menu {
    margin-top: 46px !important;
}
.dropdown-user .dropdown-menu-right {
    margin-top: 12px !important;
}

.widget {
    padding: 0 !important;
    border: 1px solid var(--card-border) !important;
}

.widget-head {
    background-color: var(--card-head-bg) !important;
    border-bottom: 1px solid var(--card-border) !important;
    padding: 10px !important;
}

.widget.onboarding-widget-box {
    padding: 0 !important;
}

.widget-body {
    padding: 10px !important;
}

.widget.links-widget-box .link-item:first-child {
    margin-top: 0 !important;
}

.codex-editor .codex-editor__redactor .ce-block .divider {
    border-right: initial;
}

.page-head {
    background-image: url('../image/home-header-bg.svg');
    border-bottom: 1px solid var(--sidebar-border);
    margin: 0;
}

.navbar .form-control {
    background-color: var(--search-bg);
    border: 1px solid var(--search-border);
    color: var(--topband-font-color);
}

.nav-item a.nav-link {
    color: var(--bg-color);
}

.layout-main .layout-side-section::-webkit-scrollbar-thumb,
.layout-main .layout-main-section-wrapper::-webkit-scrollbar-thumb {
    background: transparent !important;
}

header .icon,
header .search-bar svg {
    stroke: var(--bg-color);
    fill: var(--bg-color);
}

header #navbar-breadcrumbs li.disabled a,
header a {
    color: #fff !important;
}

header .dropdown-menu a,
header .awesomplete a {
    color: #000 !important;
}

header .search-bar .awesomplete input::placeholder {
    color: var(--topband-font-color);
}

header .search-bar .awesomplete input:focus {
    background-color: var(--search-bg);
    border: 1px solid var(--search-border);
    color: var(--topband-font-color);
    border-radius: 5px;
}

.layout-side-section {
    background-color: var(--sidebar-bg);
    border-right: 1px solid var(--sidebar-border);
    padding-top: 10px;
}

.desk-sidebar .standard-sidebar-item.selected {
    background-color: var(--sidebar-select-color);
}