{% extends "lms/templates/lms_base.html" %}
{% block title %}
{{ title }} {{ _("Billing") }}
{% endblock %}

{% block page_content %}
<div class="common-page-style">
    <div class="container form-width common-card-style column-card px-0 h-0 mt-8">
        {{ Header() }}
        {{ Details() }}
        {{ BillingDetails() }}
    </div>
</div>
{% endblock %}

{% macro Header() %}
<div class="px-4 pb-2">
    <div class="page-title">
        {{ _("Enroll Details") }}
    </div>
</div>
{% endmacro %}

{% macro Details() %}
<div class="border-top">

</div>
{% endmacro %}

{% macro BillingDetails() %}
<div class="mt-8 px-4">

    <form class="payment-form" role="form">
        {% if isLogin %}
        <div class="form-group">
            <label class="form-label sr-only" for="signup_name"> {{ _("Name") }} </label>
            <input type="text" id="signup_name" class="form-control" placeholder="{{ _('Your Name') }}" required>
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_email"> {{ _("Email") }} </label>
            <input type="email" id="signup_email" class="form-control" placeholder="{{ _('Your Email') }}" required>
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_phone"> {{ _("Phone") }} </label>
            <input type="text" id="signup_phone" class="form-control" pattern="^[789]\d{9,9}$"
                title="Please enter a valid phone number"
                placeholder="{{ _('Phone number without country code (ex. 9299343394)') }}" required>
        </div>
        <div class="form-group">
            <label class="form-label sr-only"> {{ _("Business Type") }} </label>
            <div class="control-input-wrapper">
                <div class="control-input flex align-center">
                    <select type="select" class="input-with-feedback form-control ellipsis" id="user_types"
                        placeholder="Business Type" required>
                        <option value=""> {{ _("Business Type") }} </option>
                        <option value="Advisor/Consultant"> {{ _("Advisor/Consultant") }}
                        </option>
                        <option value="Professionals(CA, Doctor, Architect, Lawyer etc)"> {{ _("Professionals(CA,
                            Doctor, Architect, Lawyer etc)")}} </option>
                        <option value="Service Provider"> {{ _("Service Provider") }} </option>
                        <option value="Brand Owner"> {{ _("Brand Owner") }} </option>
                        <option value="Distributor/wholesaler/Trader/Dealer"> {{
                            _("Distributor/wholesaler/Trader/Dealer") }} </option>
                        <option value="Network Marketing"> {{ _("Network Marketing") }} </option>
                        <option value="Retailer"> {{ _("Retailer") }} </option>
                        <option value="Manufacturer"> {{ _("Manufacturer") }} </option>
                        <option value="Network Marketing"> {{ _("Others") }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label sr-only"> {{ _("Your Yearly sales (Aapki Salaana Sales)") }} </label>
            <div class="control-input-wrapper">
                <div class="control-input flex align-center">
                    <select type="text" id="yearly_sales" class="input-with-feedback form-control ellipsis" required>
                        <option value=""> {{ _("Your Yearly sales (Aapki Salaana Sales)") }} </option>
                        <option value="Less than 15 Lakhs"> {{ _("Less than 15 Lakhs")}} </option>
                        <option value="15-25 Lakhs"> {{ _("15-25 Lakhs") }} </option>
                        <option value="50 Lakhs"> {{ _("50 Lakhs") }} </option>
                        <option value="50 Lakhs-1Cr"> {{ _("50 Lakhs-1Cr") }} </option>
                        <option value="More than 1Cr"> {{ _("More than 1Cr") }} </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label sr-only" for="signup_employees"> {{ _("Number of Employees") }} </label>
            <input type="text" id="signup_employees" class="form-control" placeholder="{{ _('Number of Employees') }}"
                required>
        </div>

        <div class="form-group">
            <label class="form-label sr-only"> {{ _("Aapka business experience?") }} </label>
            <div class="control-input-wrapper">
                <div class="control-input flex align-center">
                    <select type="text" id="user_experience" class="input-with-feedback form-control ellipsis" required>
                        <option value=""> {{ _("Aapka business experience?") }} </option>
                        <option value="Ek student hu"> {{ _("Ek student hu")}} </option>
                        <option value="Abhi tak koyi business nahi hai, start karna chahta hu"> {{ _("Abhi tak koyi
                            business nahi hai, start karna chahta hu") }} </option>
                        <option value="Pehle se business kar raha hu"> {{ _("Pehle se business kar raha hu") }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label sr-only" for="exact_business"> {{ _("Exact Business") }} </label>
            <input type="text" id="exact_business" class="form-control"
                placeholder="{{ _('Exact Business (e.g. Garment Mfg, Garment wholesaler, Garment Retailer etc)') }}"
                required>
        </div>

        <div class="form-group">
            <label class="form-label sr-only" for="new_password"> {{ _("Exact Business") }} </label>
            <input type="text" id="new_password" class="form-control" placeholder="{{ _('Password') }}" required>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-md btn-pay" data-is_not_login="{{ isLogin }}"
            data-country="{{ country }}" data-mobile_no="{{ mobile_no }}" data-email="{{ email }}"
            data-full_name="{{ full_name }}" data-doctype="{{ doctype }}" data-name="{{ docname | urlencode }}">
            {{ "Enroll Now" }}
        </button>
    </form>


</div>
{% endmacro %}

{%- block script %}
{{ super() }}
{% endblock %}