{% extends "lms/templates/lms_base.html" %}

{% block title %}
{{ 'Courses' }}
{% endblock %}

{% block page_content %}
<div class="common-page-style pt-8">
    <div class="container">
        {% if restriction %}
        {% set profile_link = "<a href='/edit-profile'> profile </a>" %}
        <div class="empty-state">
            <div class="course-home-headings text-center mb-0" style="color: inherit;">
                {{ _("You haven't completed your profile.") }}
            </div>
            <p class="small text-center">
                {{ _("Complete your {0} to access the courses.").format(profile_link) }}
            </p>
        </div>

        {% else %}

        {% include "lms/templates/search_course/search_course.html" %}

        <div class="course-list-menu">

            <select class="lms-menu" id="course-filter">
                <option disabled value="">
                    {{ _("Sort By") }}
                </option>
                <option selected value="enrollment">
                    {{ _("Most Popular") }}
                </option>
                <option value="rating">
                    {{ _("Highest Rated") }}
                </option>
                <option value="creation">
                    {{ _("Newest") }}
                </option>
            </select>

            <div class="course-list-buttons">
                {% if frappe.session.user != "Guest" %}
                <a class="btn btn-default btn-sm" href="/users">
                    {{ _("My Profile") }}
                </a>
                {% endif %}

                {% if show_creators_section %}
                <a class="btn btn-default btn-sm" href="/courses/new-course/edit">
                    {{ _("Create a Course") }}
                </a>
                {% endif %}

                <a class="btn btn-default btn-sm" id="open-search">
                    {{ _("Search") }} (Ctrl + k)
                </a>
            </div>

        </div>

        <div class="page-title mb-6">
            {{ _("All Courses") }}
        </div>

        <ul class="nav lms-nav" id="courses-tab">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#manufacturer">
                    {{ _("Manufacturer") }}
                    <span class="course-list-count">
                        {{ manufacturer_courses | length }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#wholeseller">
                    {{ _("Wholeseller") }}
                    <span class="course-list-count">
                        {{ wholeseller_courses | length }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#retail">
                    {{ _("Retail") }}
                    <span class="course-list-count">
                        {{ retail_courses | length }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#services">
                    {{ _("Services") }}
                    <span class="course-list-count">
                        {{ services_courses | length }}
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#small_business">
                    {{ _("Small Business") }}
                    <span class="course-list-count">
                        {{ small_business_courses | length }}
                    </span>
                </a>
            </li>
        </ul>

        <div class="border-bottom mb-4"></div>

        <div class="tab-content">
            <div class="tab-pane active" id="manufacturer" role="tabpanel" aria-labelledby="manufacturer">
                {% set courses = manufacturer_courses %}
                {% set title = _("Manufacturer Courses") %}
                {% set classes = "manufacturer-courses" %}
                {% include "lms/templates/course_list.html" %}
            </div>

            <div class="tab-pane" id="wholeseller" role="tabpanel" aria-labelledby="wholeseller">
                {% set courses = wholeseller_courses %}
                {% set title = _("Wholeseller Courses") %}
                {% set classes = "wholeseller-courses" %}
                {% include "lms/templates/course_list.html" %}
            </div>

            <div class="tab-pane" id="retail" role="tabpanel" aria-labelledby="retail">
                {% set courses = retail_courses %}
                {% set title = _("Retail Courses") %}
                {% set classes = "retail-courses" %}
                {% include "lms/templates/course_list.html" %}
            </div>

            <div class="tab-pane" id="services" role="tabpanel" aria-labelledby="services">
                {% set courses = services_courses %}
                {% set title = _("Services Courses") %}
                {% set classes = "services-courses" %}
                {% include "lms/templates/course_list.html" %}
            </div>

            <div class="tab-pane" id="small_business" role="tabpanel" aria-labelledby="small_business">
                {% set courses = small_business_courses %}
                {% set title = _("Small Business Courses") %}
                {% set classes = "small_business-courses" %}
                {% include "lms/templates/course_list.html" %}
            </div>

        </div>

        {% endif %}
    </div>
</div>
{% endblock %}